<html>
    <head>
        <title>assignment</title>   

 <meta charset="utf-8">
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
   
      <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">


#a{

  border-radius: 15px;
   width:450px;
   height: 40px;
   margin-bottom: 20px;
   padding-left: 10px
}

#b{

  border-radius: 15px;
   width:450px;
     margin-bottom: 20px;
   padding-left: 10px
}
#twit a.hover{
  :#448aff;;
}
argin-left:-200px;
}

</style>

<script>
$(document).ready(function(){
    $("#how").click(function(){
        $(".howit").show();
    });
});
</script>
</head>
    <body >
   
       <nav class="navbar navbar-default" style="width: 100%;height: 12%;position: relative;">
           <div class="container">
            <div class="navbar-header">
    <div class="left" style="margin-left: -60px;margin-bottom: 20%">
    <!--<img src="images.gif" style="width:100%;">
--> 
<div class="ml-auto">
    <ul class="list-inline" style="font-size: 10px;">
        <li>
 <img src="meavita.png" style="filter: grayscale(10%);max-height: 180px;max-width: 130px">
                                            
                           </li>
        
                                                   <li> 
                                                        <span class="text-muted text-success"> <span style="color: #555555;;font-size:15px;margin-right: 10px"> <a href="#home"> Home </a>  </span> </span>  </li> 
                                                          <li>
                                                        <span class="text-muted text-success"> <span style="color: #555555;;font-size:15px;margin-right: 10px;margin-left: 10px"> About Us  </span> </span> </li>
                                                          <li>
                                                              <span class="text-muted text-success"> <span id="how" style="color: #555555;;font-size:15px;margin-right: 10px;margin-left: 10px"> <a href="#howit">How it Works  </a> </span>  </span> </li>
                                                          <li>
                                                        <span class="text-muted text-success"> <span style="color: #555555;;font-size:15px;margin-right: 10px;margin-left: 10px"> <a href="#contact"> Contact Us </a> </span> </span> 
                                                        </li>
                                                          
                                                </ul>
                </div>
         </div>
                                                   <!-- <div class="right" style="float: right;margin-top: 20px ">
                                                          <li>
                                                          <button style="border-radius: 10px;width:100px;background-color: rgba(0, 0, 0, 0.5)">
                                                        <span class="text-muted text-success"> <span style="color: white;font-size:15px"> Register </span> </span> </button> </li>
                                                      </ul>
                                        </div>-->
                </div>
                   </div>
     
        </nav> 
<div class="container" id="home" style="margin-top: -20px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:white;margin-left: -70px;margin-right: -70px;height: 550px;padding-bottom: 30px;padding-top: 0px">
   
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
         </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="padding-top: -40px">
      <div class="item active">
      <div class="row" style="height: 100%;width: 100%;margin-right: -70px">
      <div class="col-6" >
      <span class="pull-left" style="color: black;text-transform: uppercase;font-family: times Roman;font-weight: 50px;font-size: 30px;line-height: 30px;padding-left: 50px;padding-top: 20%">download the app now </span> 
      </div>
      <div class="col-6" > <img src="img1.jpg" alt="abc" class="pull-right" style="height: 100%;padding-top: 0px;float: right;width: 105%;margin-right: -50px"> </div>
       </div>
      </div>

    
      <div class="item" >
      <div class="row" style="height: 100%;width: 100%;margin-right: -70px">
      <div class="col-6" >
      <span class="pull-left" style="color: black;text-transform: uppercase;font-family: times Roman;font-weight: 50px;font-size: 30px;line-height: 30px;padding-left: 50px;padding-top: 20%">get your website done in 15 min </span> </div>
      <div class="col-6" > <img src="img2.jpg" alt="abc" class="pull-right" style="height: 100%;padding-top: 0px;float: right;width: 105%;margin-right: -50px"> </div>
       </div>
      </div>

<div class="item" >
    <div class="row" style="height: 100%;width: 100%;margin-right: -70px">
      <div class="col-6" >
<span class="pull-left" style="color: black;text-transform: uppercase;font-family: times Roman;font-weight: 50px;font-size: 30px;line-height: 30px;padding-left: 50px;padding-top: 20%">take your website online in min </span> </div>
    <div class="col-6" > <img src="img3.jpg" alt="abc" class="pull-right" style="height: 100%;padding-top: 0px;float: right;width: 105%;margin-right: -50px"> </div>
       </div>
      </div>

      <div class="item" >
      <div class="row" style="height: 100%;width: 100%;margin-right: -70px">
      <div class="col-6" >
            <span class="pull-left" style="color: black;text-transform: uppercase;font-family: times Roman;font-weight: 50px;font-size: 30px;line-height: 30px;padding-left: 50px;padding-top: 20%">update your website on <br>your own </span> </div>
      <div class="col-6" > <img src="img4.jpg" alt="abc" class="pull-right" style="height: 100%;padding-top: 0px;float: right;width: 105%;margin-right: -50px"> </div>
       </div>
      </div>

      <div class="item" >
      <div class="row" style="height: 100%;width: 100%;margin-right: -70px">
      <div class="col-6" >
      <span class="pull-left" style="color: black;text-transform: uppercase;font-family: times Roman;font-weight: 50px;font-size: 30px;line-height: 30px;padding-left: 50px;padding-top: 20%">Rank better on google </span> </div>
      <div class="col-6" > <img src="img5.jpg" alt="abc" class="pull-right" style="height: 100%;padding-top: 0px;float: right;width: 105%;margin-right: -50px"> </div>
       </div>
      </div>
  </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
        
    </div>






<div class="about">
</div>   

<div id="howit" style="background-color: lavender;margin-top: -20px">
<div class="container">
  <div class="row" style="padding-bottom: 50px">
  

    <div class="col-6" style="padding-left: 50px;padding-top: 30;">
    <span style="font-size: 38px;font-family:Times New Roman; text-align: center;  text-transform:uppercase;line-height: 48px"> <center>
How Does Getting A Website Through Us, Get You More Business? </center></span>

<ul start="padding-left:50px">

<div ng-app="myapp" ng-controller="myctrl">
<div  ng-repeat="artist in artists">
<span style="background: #448aff;border-radius: 25px; color: #fff;font-size: 25px;height: 50px;left: -70px;line-height: 50px;position: absolute;    text-align: center;width: 50px;margin-left: 100px;margin-top: 0px">{{artist.index}}</span> 
<h3 style="font-size: 24px;font-family:Times New Roman; text-align: center;text-transform:uppercase;line-height:24px;margin-top:60px;margin-left:-100px"> <center>
{{artist.head}} </center></h3>
<p style="font-size: 20px;font-family:Times New Roman;line-height: 20px"> 
{{artist.para}} </p>
</div>
</div>
  </ul>
    </div>
    <div class="col-6" style="padding-left: 50px;padding-top: 30;">
    <img src="how.jpg" style="height: 350px;opacity: 0.5;margin-left: 20px">
  </div>
</div>
</div>    
</div>

<script>
   var app = angular.module('myapp', []);
app.controller('myctrl', function($scope) {
    $scope.artists = [

          {
          "index" : "1",
          "head" : "Get a website through us",
          "para" : "We Create Your Website in less than 15 minute"
          },
          {
          "index" : "2",
          "head" : "EASILY UPDATE YOUR WEBSITE",
          "para" : "Update your website regularly with updates, offers and promos. The more you update, the more business you get!"
          },

          {
           "index" : "3",
          "head" : "PEOPLE SEARCH FOR PRODUCTS",
          "para" : "Your Website gets discovered, ranks you better in google search and gives you more traffic on your website."
          
          },

          {
           "index" : "4",
          "head" : "EASILY UPDATE YOUR WEBSITE",
          "para" : "Update your website regularly with updates, offers and promos. The more you update, the more business you get!"
          
          }
          ]

        });
 
 </script>



<div id="contact" style="background:url('back.gif');margin-top: -20px;">
<div class="container">

<div class="row">
<div class="col-12"> 
 <h1 style="color: #fff;line-height: 48px;text-transform: uppercase;font-weight: 50px;padding-top: 40px;margin-left:0%;padding-bottom: 30px; font-family: times Roman"> <center>Contact us</center> </h1>
 </div>
 </div>
 </div>
 </div>

<div class="contact" style="background:url('back.gif');margin-top: -20px;height: 200px">
<div class="container">
<div class="row" style="margin-top: 10px;margin-left: 20px;" >

  <div class="col-4" style="" >

 <span style="background:#f56eab ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;left: -70px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 180px;margin-top: 0px;padding-top: 10px;border:5px solid #fff">
 <i class="fa fa-home"> </i>
  
    </span>
  <br> <h1 style="height: 20px"></h1>
  <span style="color: white;font-family:times Roman;font-size: 20px;padding-top: 20px;line-height: 24px"> S-59, 2nd Floor, Zoom Plaza Mall, 
below Maxus cinema, Gorai-2, Borivali (West), Mumbai, Maharashtra 400092
   </div>

     <div class="col-4" style="" >


    <span style="background:#7cc576 ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;left: -70px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 170px;margin-top: 0px;padding-top: 10px;border:5px solid #fff"> <i class="fa fa-phone"> </i>
    </span> <br> <h1 style="height: 20px"></h1>
  <span style="color: white;font-family:times Roman;font-size: 20px;margin-left: 70px;padding-top: 20px"> 02233756330
</span>
   </div>

     <div class="col-4" style="" >


    <span style="background:#49b5e7 ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;left: -70px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 100px;margin-top: 0px;padding-top: 10px;border:5px solid #fff"> <i class="fa fa-pencil"> </i>
    </span>
  <br> <h1 style="height: 20px"></h1>
  <span style="color: white;font-family:times Roman;font-size: 20px"> hi@websites.co.in
</span>
   </div>
</div>
</div>    </div>



<div class="contact" style="background:url('back.gif');margin-top: -20px;">
<div class="container">
<div class="row" style="margin-top: 10px;margin-left: 20px;" >

  <div class="col-6" style="" >
  <h1 style="font-weight: 40px;font-family: times Roman;text-transform: uppercase;color: white;font-size: 25px"> don't be shy.say hello!</h1>
  <h1 style="height: 20px"></h1>
 <span style="background:#000 ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;left: -70px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 100px;margin-top: 0px;padding-top: 10px;border:5px solid #fff">
<a  id="twit" href="#"> <i class="fa fa-twitter"> </i>
</a>

  <span style="background:#000 ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 27px;margin-top:-14px;padding-top: 10px;border:5px solid #fff">
<a  id="face" href="#"> <i class="fa fa-facebook"> </i> </a>

  <span style="background:#000 ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 27px;margin-top: -14px;padding-top: 10px;border:5px solid #fff">
<a  id="pin" href="#"> <i class="fa fa-pinterest"> </i> </a>

  <span style="background:#000;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 27px;margin-top: -14px;padding-top: 10px;border:5px solid #fff">
 <a  id="goog" href="#"> <i class="fa fa-google-plus"> </i> </a>

  <span style="background:#000 ;border-radius: 27px; color: #fff;font-size: 25px;height: 55px;line-height: 55px;position: absolute;    text-align: center;width: 55px;margin-left: 27px;margin-top: -14px;padding-top: 10px;border:5px solid #fff">
<a  id="enve" href="#"> <i class="fa fa-envelope"> </i> </a>


   </div>
   <div class="col-6" style="" ng-app="formExample">

 <div ng-controller="ExampleController">
  <form novalidate class="css-form">
   <input id="a" type="text" ng-model="user.name" placeholder="Your Name" required > <br>
   <input id ="a" type="email" ng-model="user.email" placeholder="your email" required> <br>
   <input  id ="a" type="integer" ng-model="user.mobile" placeholder="your mobile" required > <br>
   <input id ="a" type="text" ng-model="user.Subject" placeholder="Subject" > 
  <textarea id ="b" rows="4" cols="50" ng-model="user.mess" placeholder="your message" > 
   </textarea>
      <input id ="a" style="background-color:#7cc576;color: white;font-size: 19px;font-weight: 20px;border:2px solid #7cc576" type="submit" ng-click="update(user)" value="Send Message">
  </form>

</div>



<script>
  angular.module('formExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.master = {};

      $scope.update = function(user) {
        $scope.master = angular.copy(user);
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();
    }]);
</script>



   </div>
</div>
</div>    </div>








       
    



<!-- contact -->

  <!--social-->
 
  







      </body>
</html>






